# Ignore everything by default
*

# Do not ignore directories, so Git can look inside them for tracked files
!*/

# Track markdown files
!*.md

# Track .gitignore itself
!.gitignore

# Track the Quizzer Application and its dependencies
!quizzer.html
!0 - Other BSA Stuff/0.00 - Quizzer Files/*
